---
layout: html_page.hbs
title: Companion App
body_classes: ajax-test
css:
    - css/debug.css
js:
    - js/lib/jquery/jquery-2.1.0.js
    - js/debug.js
    - cordova.js
---
<textarea id="payload">
</textarea>
<button
    class="load-ajax-button"
    data-url="data/schedule.xml"
    >
    Load Local XML
</button>
<button
    class="load-ajax-button"
    data-url="http://papers.softwarelivre.org/papers_ng/public/fast_grid?event_id=4"
    >
    Load Web XML
</button>
