---
layout: html_page.hbs
title: Companion App
---
<div class="app">
    <h1>{{title}}</h1>
    <ul>
        <li><a href="dynamic_templates.html">Dynamic rendering of a template</a></li>
        <li><a href="static.index.html">Static Schedule Experiments (list)</a></li>
        <li><a href="schedule_table.html">Static Schedule Experiments (table)</a></li>
        <li><a href="calendar-plugin.html">Add-to-Calendar Experiments</a></li>
        <li><a href="ajax.html">Ajax Load Experiments</a></li>
    <ul>
</div>