---
layout: html_page.hbs
#layout: simple.hbs
title: Companion App
js:
    - cordova.js
    - js/index.js
---
<div class="app">
    <h1>{{title}}</h1>
    <ul>
        <li><a href="schedule_list.html">Static Schedule Experiments (list)</a></li>
        <li><a href="schedule_table.html">Static Schedule Experiments (table)</a></li>
        <li><a href="calendar-plugin.html">Add-to-Calendar Experiments</a></li>
        <li><a href="ajax.html">Ajax Load Experiments</a></li>
        <li><a href="">link aqui</a></li>
    <ul>
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
    </div>
</div>