---
layout: html_page.hbs
#layout: simple.hbs
title: Companion App
---
<div class="app">
    <h1>{{title}}</h1>
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
    </div>
    {{>schedule}}
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
    app.initialize();
</script>
