---
layout: html_page.hbs
title: Companion App
schedule_type: list
lang: pt-BR
prevent-scale: true
localForageConfig: "window.localForageConfig = {name: 'Companion',version: 'v0.3.0',size: 4980736,storeName: 'companionStore',description: 'The database for local content of the Companion app'};"
css:
   - css/index_bootstrap.css
js:
    - js/lib/jquery/jquery-2.1.0.js
    - js/lib/bootstrap/bootstrap.min.js
    - js/lib/mozilla/localforage_0.3.1.js
    - js/index.js
    - cordova.js
---
<div
    id="app"
    data-feed-url="http://papers.softwarelivre.org/papers_ng/public/fast_grid?event_id=4"
    data-local-feed-url="data/schedule.xml"
>
    {{>splash_screen}}
</div>