---
layout: html_page.hbs
title: Companion App
dev-sync-test: false
lang: pt-BR
prevent-scale: true
brand-image: "img/logo.png"
css:
   - css/index_bootstrap.css
js:
    - js/lib/jquery/jquery-2.1.0.js
    - js/lib/bootstrap/bootstrap.min.js
    - js/lib/mozilla/localforage_0.6.2.js
    - js/index.js
    - cordova.js
---
<div
    id="app"
    data-feed-url="http://papers.softwarelivre.org/papers_ng/public/fast_grid?event_id=4"
    data-local-feed-url="data/schedule.json"
    data-map-url="img/map/pucrs.png"
    {{#if dev-sync-test}}
        data-sync-dev-mode="on"
    {{/if}}
>
    {{>splash_screen}}
</div>