<div class="container">
    {{> app_menu}}
    <div
        id="schedule-view"
        class="app-panel selected schedule schedule--{{schedule_type}}"
        >
        {{> schedule}}
    </div>
    <div
        id="notifications-view"
        class="app-panel"
        >
        {{> notifications}}
    </div>
    <div
        id="map-view"
        class="app-panel"
        >
        {{> map}}
    </div>
    <div
        id="menu-view"
        class="app-panel"
        >
        {{> menu}}
    </div>
</div>
