<nav
    id="app-menu"
    class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"
    >
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">
                <span class="icon fa-list-ul"></span>
                <span class="tab-name">Sessões</span>
                <button
                    id="refresh-feed"
                    class=""
                    >
                    <span class="icon"></span>
                </button>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon fa-star"></span>
                <span class="tab-name">Escolhas</span>

            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon fa-compass"></span>
                <span class="tab-name">Mapa</span>

            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon fa-bell"></span>
                <span class="tab-name">Avisos</span>
                <span class="badge">2</span>
            </a>
        </li>
        <li class="dropdown navbar-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="icon fa-ellipsis-h"></span>
                <span class="tab-name">Menu</span>

            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
  </ul>





{{!--
    <div class="navbar-left">
        <button
            class="
                clear-cache-button
                btn btn-default dropdown-toggle navbar-btn"
            data-toggle="dropdown">
            <span class="icon"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="erase-feed" href="#">Clear local schedule cache</a></li>
            <li><a id="erase-bookmarks" href="#">Clear local bookmarks cache</a></li>
            <li><a id="erase-all" href="#">Erase all local data</a></li>
        </ul>
        <button
            id="refresh-feed"
            class="
                btn btn-default navbar-btn"
            >
            <span class="icon"></span>
        </button>
    </div>

    <div class="navbar-right">
        <button
            id="filter-bookmarks"
            class="
                filter-bookmarks-toggle
                btn btn-default navbar-btn"
            >
            <span class="icon"></span>
        </button>
        <div
            id="list-view-toggle"
            class="btn-group"
            >
            <button
                type="button"
                class="
                    list-view-button
                    btn btn-default
                    {{#is schedule_type 'list'}}
                    active
                    " disabled
                    {{else}}
                    "
                    {{/is}}
                >
                <span class="icon"></span>
            </button>
            <button
                type="button"
                class="
                    table-view-button
                    btn btn-default
                    {{#is schedule_type 'table'}}
                    active
                    " disabled
                    {{else}}
                    "
                    {{/is}}
                    >
                    <span class="icon"></span>
            </button>
        </div>
    </div>
 --}}

</nav>