<nav
    id="app-menu"
    class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"
    >
    <ul class="nav navbar-nav" role="navigation">
        <li class="active">
            <a id="schedule-section-link" href="#">
                <span class="icon"></span>
                <span class="tab-name">FISL 15</span>
            </a>
        </li>
        <li id="favorites-tab">
            <a id="favorites-section-link" class="filter-bookmarks-toggle" href="#">
                <span class="icon"></span>
                <span class="tab-name">Escolhidas</span>

            </a>
        </li>
        <li id="map-tab">
            <a id="map-section-link" href="#">
                <span class="icon"></span>
                <span class="tab-name">Mapa</span>

            </a>
        </li>
        <li class="">
            <a id="notifications-section-link" href="#">
                <span class="icon"></span>
                <span class="tab-name">Avisos</span>
                {{!-- <span class="badge">2</span> --}}
            </a>
        </li>
        <li id="menu-tab">
            <a id="menu-section-link" href="#">
                <span class="icon fa-ellipsis-h"></span>
                <span class="tab-name">Menu</span>
            </a>
        </li>
  </ul>
</nav>