<nav
    id="app-menu"
    class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"
    >
    <form class="navbar-form navbar-left">
        <div class="dropdown">
            <button
                class="
                    clear-cache-button
                    btn btn-default dropdown-toggle"
                data-toggle="dropdown">
                <span class="icon"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="erase-feed" href="#">Clear local schedule cache</a></li>
                <li><a id="erase-bookmarks" href="#">Clear local bookmarks cache</a></li>
                <li><a id="erase-all" href="#">Erase all local data</a></li>
            </ul>
        </div>
    </form>

    <form class="navbar-form navbar-right">
        <div
            id="list-view-toggle"
            class="btn-group"
            >
            <button
                type="button"
                class="
                    list-view-button
                    btn btn-default
                    {{#is schedule_type 'list'}}
                    active
                    " disabled
                    {{else}}
                    "
                    {{/is}}
                >
                <span class="icon"></span>
            </button>
            <button
                type="button"
                class="
                    table-view-button
                    btn btn-default
                    {{#is schedule_type 'table'}}
                    active
                    " disabled
                    {{else}}
                    "
                    {{/is}}
                    >
                    <span class="icon"></span>
            </button>
        </div>
    </form>
</nav>