<div
    id="sessionList-day-{{@index}}"
 >
{{#each this.times}}
    <a
        id="time-{{@index}}"
        class="time-break"
        ></a>
    <h3>
        {{this.label}}
    </h3>
    <dl
        class="
            session-list
            list-group
            "
        >
    {{#each this.sessions}}
        {{> session dayIndex=../../index }}
    {{/each}}
    </dl>
{{/each}}
</div>
