{{#each this.rooms}}
    <tr>
        <th class="room-name-cell">
        {{#withItem @root.schedule.rooms key=this.id}}
            {{this.name}}
        {{/withItem}}
        </th>
        {{#is this.sessions.length '<' 1}}
            <td class="empty" colspan="{{../../times.length}}"></td>
        {{/is}}
        {{#each this.sessions}}
            {{#if this.emptyBefore }}
                <td class="empty" colspan="{{this.emptyBefore}}"></td>
            {{/if}}
            {{#withItem @root.schedule.sessions key=this.sessionID}}
                {{>session durationColspan=../colspan dayIndex=../../../dayIndex session_tag="td"}}
            {{/withItem}}
            {{#if this.emptyAfter }}
                <td class="empty" colspan="{{this.emptyAfter}}"></td>
            {{/if}}
        {{/each}}
    </tr>
{{/each}}
