{{#each schedule.days}}<div
    id="day-{{@index}}"
    class="
        day
        {{#if @last}}
        last
        {{/if}}
        "
    >
    <h2 class="day-title">
        {{this.shortLabel}}
    </h2>

    <table
        class="table table-bordered">
        <thead>
            <tr>
                <th class="room-name-cell">Salas</th>
                {{#each this.times}}
                <th colspan="{{this.colspan}}">
                    {{this.label}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{> day_table_rows dayIndex=@index}}
        </tbody>
    </table>

</div>{{/each}}
