<h1>Menu</h1>
<div id="app-menu">
    <h4 id="last-sync-menu-header">
    {{> last_sync_time}}
    </h4>
    <p>
        <a class="refresh-feed btn btn-default btn-primary">
            <span class="icon"></span>
            Atualizar programação agora
        </a>
    </p>
    <hr />
    <h4>Modo de exibição</h4>
    <div id="list-view-toggle" class="btn-group" data-toggle="buttons">
        <label
            class="
                list-view-button
                {{#is schedule_type 'list'}}
                active
                {{/is}}
                btn btn-primary"
            >
            <input type="radio" name="schedule-view-mode" value="list"
                {{#is schedule_type 'list'}}
                checked
                {{/is}}
            >
            <span class="icon"></span>
            Lista
        </label>
        <label
            class="
                table-view-button
                {{#is schedule_type 'table'}}
                active
                {{/is}}
                btn btn-primary"
            >
            <input type="radio" name="schedule-view-mode" value="table"
                {{#is schedule_type 'table'}}
                checked
                {{/is}}
            >
            <span class="icon"></span>
            Tabela
        </label>
    </div>
    <hr />
    <h4>Versão: {{version}}</h4>
    <p>
        <a
            id="developer-submenu-toggle"
            class="closed"
            data-toggle="collapse"
            data-target=".developers-submenu"
            >
            <span class="icon"></span>
            Desenvolvedores
        </a>
    </p>
    <ul>
            <li class="collapse developers-submenu">
                <a id="source-code-link" href="https://github.com/TelaSocial/companion" target="_blank">
                    <span class="icon fa-cogs"></span>
                    Código fonte
                </a>
            </li>
            <li class="collapse developers-submenu">
                <a id="issues-link" href="https://github.com/TelaSocial/companion/issues/new" target="_blank">
                    <span class="icon fa-bug"></span>
                    Reportar um bug
                </a>
            </li>
            <li class="collapse developers-submenu"><a id="erase-feed" href="#"><span class="icon fa-eraser"></span> Apagar cache da grade</a></li>
            <li class="collapse developers-submenu"><a id="erase-bookmarks" href="#"><span class="icon fa-eraser"></span> Apagar todas as escolhas</a></li>
            <li class="collapse developers-submenu"><a id="erase-notifications" href="#"><span class="icon fa-eraser"></span> Apagar todos os avisos</a></li>
            <li class="collapse developers-submenu"><a id="erase-all" href="#"><span class="icon fa-fire"></span> Destruir todos os dados locais</a></li>
        </ul>
</div>
