<h1>Avisos</h1>

<h2>Relacionados à suas escolhas</h2>
<dl
    class="
        update-list
        list-group
        "
    >
{{#each updates_user}}
    {{> update_item}}
{{/each}}
</dl>

<h2>Outros avisos</h2>
<dl
    class="
        update-list
        list-group
        "
    >
{{#each updates_all}}
    {{> update_item}}
{{/each}}
</dl>