<h1>Avisos</h1>

<h2>Relacionados às suas escolhas</h2>
<dl
    class="
        update-list
        list-group
        "
    >
{{#each updates_user}}
    {{> update_item}}
{{/each}}
{{#unless updates_user.length}}
<div class="update-item empty-list-message list-group-item">
    <dt>
        Nenhuma das suas escolhas sofreu atualizações recentemente.
    </dt>
</div>
{{/unless}}
</dl>

<h2>Outros avisos</h2>
<dl
    class="
        update-list
        list-group
        "
    >
{{#each updates_all}}
    {{> update_item}}
{{/each}}
{{#unless updates_all.length}}
<div class="update-item empty-list-message list-group-item">
    <dt>
        A programação do evento não mudou desde que você installou a aplicação
    </dt>
</div>
{{/unless}}
</dl>