<div
    >
    {{#is schedule_type 'list'}}
        {{> time_nav}}
        {{#each schedule_grouped_by_time.days}}
            {{> day_list}}
        {{/each}}
    {{else}}
        {{#each schedule_grouped_by_room.days}}
            {{#if @first}}
                {{>day_table}}
            {{/if}}
        {{/each}}
    {{/is}}
</div>
