<div
    class="
        content
        {{#if @first}}
        active
        {{/if}}
    "
    id="day-{{@index}}"
>
    {{#is schedule_type 'list'}}
        {{#each schedule_grouped_by_time.days}}
            {{#if @first}}
                {{>day_list}}
            {{/if}}
        {{/each}}
    {{else}}
        {{#each schedule_grouped_by_room.days}}
            {{>day_table}}
        {{/each}}
    {{/is}}
</div>
