<div>
    {{#is schedule_type 'list'}}
        {{#each schedule_grouped_by_time.days}}
            {{#if @first}}
                {{>day_list}}
            {{/if}}
        {{/each}}
    {{else}}
        {{#each schedule_grouped_by_room.days}}
            {{#if @first}}
                {{>day_table}}
            {{/if}}
        {{/each}}
    {{/is}}
</div>
