<div
    class="
        progress
        progress-striped active
        secondary round"
        >
  <div
    class="
        progress-bar
        meter"
    role="progressbar"
    style="width: 10%">
  </div>
</div>
