<div class="jumbotron splash-screen">
    <div class="container">
        <p><img src="{{brand-image}}" /></p>
        <p>
            <span id="loading-message">Aguarde</span>
            <span class="fa fa-spinner fa-spin"></span>
        </p>
        <div
            class="
                progress
                progress-striped"
            >
            <div
                id="progressMeter"
                class="progress-bar"
                role="progressbar"
                >
            </div>
        </div>
        <small id="splash-version"></small>
    </div>
</div>