{{#each this.times}}
{{#is this.shortLabel.length '<' 3}}
<li
{{#unless ../../dayIndex}}
    {{#unless @index}}
        class="active"
    {{/unless}}
{{/unless}}
    >
    <a href="#day-{{../../dayIndex}}-time-{{../shortLabel}}">
        {{../shortLabel}}
    </a>
</li>
{{/is}}
{{/each}}
