<nav
    id="time-nav"
    class="navbar navbar-fixed-top navbar-default"
    >
    <ul
        class="nav navbar-nav"
        role="navigation"
        >
        {{#each schedule_grouped_by_time.days}}
            <li>{{this.shortLabel}}</li>
            {{#each this.times}}
            <li
                class="{{#if @first}}active{{/if}}"
                >
                <a href="#day-{{../index}}-time-{{@index}}">
                    {{this.shortLabel}}
                </a>
            </li>
            {{/each}}
        {{/each}}
    </ul>
</nav>
