<div
    class="
        update-item update-type-{{this.updateType}}
        list-group-item
        "
    >
    <dt>
        <span class="change-text">
        {{#is this.updateType 'rename'}}
            foi renomeada
        {{/is}}
        {{#is this.updateType 'room'}}
            mudou de sala
        {{/is}}
        {{#is this.updateType 'start'}}
            mudou de horário
        {{/is}}
        {{#is this.updateType 'cancel'}}
            foi cancelada
        {{/is}}
        {{#is this.updateType 'new'}}
            entrou na grade
        {{/is}}
        </span>
        <span class="update-title">
            {{this.sessionTitle}}
        </span>
        {{#if this.time}}
        <span class="time-ago">
            {{timeago this.time}}
        </span>
        {{/if}}
    </dt>
</div>
